 {% extends "./layouts/layout.html" %}



<body class="bg-gray-100">
    <header>
        <div class="transition ease-in-out duration-150 z-20 ">
            <div class="invisible lg:visible  fixed w-full top-0 z-50 px-4 " id="navbar">
                <div class="max-w-screen-xl mx-auto px-4 sm:px-6" id="navbar2">
                    <div class="flex  items-center mb-4 ">
                        <div class="">
                            <a href="index.html">
                                <img id="logo" class="h-16 lazyLoad isLoaded " src="https://w7.pngwing.com/pngs/192/781/png-transparent-wave-accounting-software-business-invoice-wave-text-logo-payment.png" alt="My Logo">
                            </a>
                        </div>
                        <nav class="flex flex-row mx-auto items-center ">
                            <ul class="space-x-10 flex flex-row">
                                <a href="" class="text-base font-medium text-gray-900 hover:text-gray-900 hover:border-b-2 hover:border-white focus:outline-none focus:text-gray-900 transition ease-in-out duration-150">Accueil</a>

                                <a href="realisation.html" class="text-base font-medium text-gray-900 hover:text-gray-900 hover:border-b-2 hover:border-white focus:outline-none focus:text-gray-900 transition ease-in-out duration-150">Réalisations</a>

                                <a href="realisation.html" class="text-base font-medium text-gray-900 hover:text-gray-900 hover:border-b-2 hover:border-white focus:outline-none focus:text-gray-900 transition ease-in-out duration-150">Réalisations</a>
                            </ul>
                        </nav>
                        <div class="">
                            <div class="ml-4 flex items-center md:ml-6">
                                <button class="p-1 border-2 border-transparent text-gray-400 rounded-full hover:text-white focus:outline-none focus:text-white focus:bg-gray-700" aria-label="Notifications">
                                    <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                                    </svg>
                                </button>
                                <div class="ml-3 relative">
                                    <div>
                                        <button class="max-w-xs flex items-center text-sm rounded-full text-white focus:outline-none focus:shadow-solid" id="user-menu" aria-label="User menu" aria-haspopup="true">
                                            <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative items-center head-body w-full">
            <img src="img/20950672.jpg" alt="" class="inset-0 w-full h-full object-cover rounded-b-md calced lazyLoad isLoaded">
            <div class="action font-bold text-5xl text-center text-gray-900">
                <h1 class="">Lorem Ipsum</h1>
                <div class="flex flex-row rounded-md justify-around pt-12 space-x-12">
                    <a href="" class="inline-flex items-center px-4 py-2 lg:px-8 lg:py-4 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-orange-600 transition duration-500 ease-in-out hover: transform hover:scale-95">???</a>
                </div>
            </div>
        </div>
    </header>


    <div class="grid grid-cols-2 mx-20 mt-20 items-center">
        <div class="w-4/6">
            <img src="https://www.elegantthemes.com/layouts/wp-content/uploads/2018/11/software-23.png" alt="">
        </div>
        <div class="flex flex-col">
            <div>
                <h3 class="font-bold text-gray-900 text-4xl">Lorem ipsum</h3>
                <h1 class="uppercase text-blue-600 font-semibold text-xl">TITRE PRINCIPAL</h1>
                <p class="mt-8 text-gray-600 text-lg">
                    Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Sed porttitor lectus nibh. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna justo, lacinia
                    eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur non nulla sit amet nisl tempus convallis q
                </p>
            </div>
            <div class="transition duration-500 ease-in-out hover: transform hover:-translate-y-1 mb-16 mt-10">
                <a class="shadow-lg  py-3 px-4 lg:mx-0 border border-transparent text-base leading-6 font-medium rounded-2xl text-white bg-gray-900 hover:bg-white hover:text-gray-900 transition duration-150 ease-in-out md:text-lg" href="">View All Components</a>
            </div>
        </div>
    </div>



    <script src="https://kit.fontawesome.com/e0520e4066.js " crossorigin="home "></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js "></script>
    <script src="js/app.js"></script>
    <script src="js/scroll.js"></script>
</body>